body {
    font-family: "Roboto", Tahoma, sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}

:root {
    --main-text-color: #212121;
    --sercondary-text-color: #757575;
    --hover-focus-color:  #2196F3;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
 }
/* ------------------------------------HEADER--------------------------------- */

.header {
    background: #FFFFFF;
}

.header-logo {
    color: #2196F3;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-logo-part{
    color: #000000;
}

.header-link {
    color: var(--main-text-color);
}

.header-link-cont{
    color: var(--sercondary-text-color)
}
.header-link:hover, .header-logo:focus, .header-link-cont:hover, .header-link:focus, .header-link-cont:focus, .current {
    color: var(--hover-focus-color);
}  
    

/* ------------------------------------HERO------------------------- */

.hero {
    background: #2F303A;
}
.hero-tittle { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-family: inherit;
    background-color: var(--hover-focus-color)
}

.pointer {
    cursor: pointer;
}
/* --------------------------------------ADVANTAGE-------------------------- */

.advantage-heading {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color)
}

.advantage-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--sercondary-text-color)
}

/* --------------------------------------ABOUT------------------------ */
/* -------------------------------------TEAM------------------------------ */
.team {
    background-color: #F5F4FA;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sercondary-text-color)
}

/* --------------------------------------FOOTER----------------------------- */
.footer {
    background: #2F303A;
}

.footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.footer-logo:focus {
    color: var(--hover-focus-color)
}


.footer-logo-part{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.link-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-addr {
    color: #FFFFFF;
    font-style: normal;
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:focus, .footer-link:hover{
    color: var(--hover-focus-color)
}

/* -----------------------------------FILTER PORTFOLIO-------------------- */

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.filter-btn {
    background: #F5F4FA;
    color: #212121;
    font-family: inherit;
}
.filter-btn:hover{
    color: #FFFFFF;
    background-color:  #2196F3;;
}

/* -----------------------------------PROJECTS PORTFOLIO------------------ */

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.project-type {
    line-height: 1.87px;
    letter-spacing: 0.03em;
    color: var(--sercondary-text-color)
}
